/* DASHBOARD */

.dashboard {

  display: flex;

  min-height: 100vh;

  background: rgb(246, 246, 246);

  color: #0a0808;

  font-family: 'Georgia', serif;
}

/* SIDEBAR */

.sidebar {
  width: 240px;

  padding: 50px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fafafa;

  backdrop-filter: blur(14px);

  border-right: 1px solid #eeeeee;
}

/* LOGO */

.dashboard-logo {
  font-size: 42px;

  font-weight: 300;

  margin-bottom: 70px;

  letter-spacing: 1px;
}

/* SIDEBAR LINKS */

.sidebar-links {
  list-style: none;

  display: flex;
  flex-direction: column;

  gap: 30px;
}

.sidebar-links li {
  cursor: pointer;

  font-size: 20px;

  color: #000000;

  transition: 0.3s;
}

.sidebar-links li:hover {
  color: black;

  transform: translateX(6px);
}

/* LOGOUT BUTTON */

.logout-btn {
  background: #f3eadf;

  color: rgb(0, 0, 0);

  border: none;

  padding: 16px;

  border-radius: 16px;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;

  margin-top: 50px;
}

.logout-btn:hover {
  transform: scale(1.03);

  background: #ece3d7;
}

/* MAIN CONTENT */

.dashboard-content {
  flex: 1;

  padding: 60px;
}

/* HEADER */

.dashboard-header {
  margin-bottom: 60px;
}

.dashboard-header h1 {
  font-size: 82px;

  font-weight: 400;

  margin-bottom: 12px;

  line-height: 1;
}

.dashboard-header p {
  font-size: 22px;

  color: #000000;
}

/* CARDS */

.dashboard-cards {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 35px;
}

/* INDIVIDUAL CARD */

.dashboard-card {
  background: #ffffff;

  border: 1px solid #eeeeee;

  border-radius: 30px;

  padding: 40px;

  min-height: 210px;

  transition: 0.3s;

  cursor: pointer;

  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.dashboard-card:hover {
  transform: translateY(-8px);
}

/* CARD TEXT */

.dashboard-card h2 {
  font-size: 38px;

  margin-bottom: 22px;

  font-weight: 500;

  color: #111;
}

.dashboard-card p {
  font-size: 18px;

  color: #666;

  line-height: 1.5;
}

@media (max-width: 768px) {

  .dashboard {

    flex-direction: column;

  }

  .sidebar {

    width: 100%;

    padding: 20px;

  }

  .dashboard-cards {

    grid-template-columns: 1fr;

  }

  .dashboard-header h1 {

    font-size: 48px;

  }

}